[main]
Description=Politechnika Warszawska
Host=vpn.ee.pw.edu.pl
AuthType=1
GroupName=groupEE-NAT
GroupPwd=
enc_GroupPwd=1FE6EF849F4F31070358248C8217F9AEE3A91B912F6D123C33AC2944C3623B0058D226CA93C4CA9E0EC39F5BBDA1F9BF40D36E14AF737232
EnableISPConnect=0
ISPConnectType=0
ISPConnect=Nokia E51 USB Modem (OTA)
ISPPhonebook=C:\Users\grzegorz\AppData\Roaming\Microsoft\Network\Connections\Pbk\rasphone.pbk
ISPCommand=
Username=grzegorz
SaveUserPassword=0
UserPassword=
enc_UserPassword=
NTDomain=
EnableBackup=0
BackupServer=
EnableMSLogon=1
MSLogonType=0
EnableNat=1
TunnelingMode=0
TcpTunnelingPort=10000
CertStore=0
CertName=
CertPath=
CertSubjectName=
CertSerialHash=00000000000000000000000000000000
SendCertChain=0
PeerTimeout=90
EnableLocalLAN=0
